<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Remove ASP.NET extensionless handler that may conflict -->
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0_Copy" />
      <!-- Re-add the httpPlatform handler if needed -->
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform
        processPath="C:\inetpub\podsinspace\.venv\Scripts\python.exe"
        arguments="waitress_app.py"
        startupTimeLimit="30"
        rapidFailsPerMinute="10">
      <!-- Environment variables now loaded from .env file in project root -->
    </httpPlatform>

    <httpErrors errorMode="Detailed" />
    <staticContent>
      <mimeMap fileExtension=".mjpg" mimeType="multipart/x-mixed-replace" />
    </staticContent>
    <urlCompression doDynamicCompression="false" doStaticCompression="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Accel-Buffering" value="no" />
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>

    <rewrite>
      <rules>
        <rule name="SetClientIPHeaders" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_FOR}" pattern="^$" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
            <set name="HTTP_X_REAL_IP" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="None" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optionally make sure managed modules don't run for all requests -->
    <modules runAllManagedModulesForAllRequests="false" />
  </system.webServer>

  <location path="podsinspace/stream_proxy">
    <system.webServer>
      <urlCompression doDynamicCompression="false" doStaticCompression="false" />
      <httpProtocol>
        <customHeaders>
          <remove name="X-Accel-Buffering" />
          <add name="X-Accel-Buffering" value="no" />
          <remove name="Cache-Control" />
          <add name="Cache-Control" value="no-cache" />
          <add name="Connection" value="keep-alive" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>


